@import "fonts.css";

* {
  box-sizing: border-box;
}

body {
  padding-top: 48px;
  padding-left: 48px;
  background-color: #f7f6f6;
}

@media (max-width: 1240px) {
  body {
    padding-left: 0px;
  }
}
