@font-face {
  font-family: 'Avenir Next';
  src: url('/fonts/AvenirNext-Medium.woff2') format('woff2'),
      url('/fonts/AvenirNext-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('/fonts/AvenirNext-Heavy.woff2') format('woff2'),
      url('/fonts/AvenirNext-Heavy.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next Condensed';
  src: url('/fonts/AvenirNextCondensed-Regular.woff2') format('woff2'),
      url('/fonts/AvenirNextCondensed-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('/fonts/AvenirNext-Regular.woff2') format('woff2'),
      url('/fonts/AvenirNext-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next Condensed';
  src: url('/fonts/AvenirNextCondensed-Medium.woff2') format('woff2'),
      url('/fonts/AvenirNextCondensed-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('/fonts/AvenirNext-Bold.woff2') format('woff2'),
      url('/fonts/AvenirNext-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'IBM Plex Serif';
  src: url('/fonts/IBMPlexSerif.woff2') format('woff2'),
      url('/fonts/IBMPlexSerif.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'IBM Plex Serif Text';
  src: url('/fonts/IBMPlexSerif-Text.woff2') format('woff2'),
      url('/fonts/IBMPlexSerif-Text.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

